@media (max-width: 1400px) {
  .service .container {
    max-width: 1140px;
  }
  .service .box-s .boxses-s {
    width: calc(100% / 3);
  }
}
@media (max-width: 1199px) {
  .service .container {
    max-width: 960px;
  }
  .service .box-s .boxses-s {
    width: calc(100% / 3);
  }
}
@media (max-width: 992px) {
  .service .container {
    max-width: 720px;
  }
  .service .box-s .boxses-s {
    width: calc(100% / 2);
  }
}
@media (max-width: 768px) {
  .service .container {
    max-width: 540px;
  }
  .service .box-s .boxses-s {
    width: calc(100% / 1);
  }
}
@media (max-width: 567px) {
}
